@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

body {
  height: full;
  width: full;
  /* background: ; */
  background-image: url(/images/grainy.svg);
}
